body {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
}

#site-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
}

.subtitle {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    color: #1792d2;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    color: #707070;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: .5em 0;
    }
}